/* Main styles */
.board {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.filter-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}
.filter-bar select {
    margin: 0 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 30%;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.stories {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.story {
    flex: 0 0 100%;
    display: flex;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px #164fa2;
    border-radius: 3px;
}

.story-info {
    flex: 0 0 50%;
    padding: 1rem;
}

.story-info h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 700;
}

.story-info p {
    margin: 0;
    font-size: 1.2rem;
}

.story-info #author {
    color: #575757;
}

.story-info p:last-child {
    margin-bottom: 0;

    display: -webkit-box;
    -webkit-line-clamp: 5; /* Adjust the number of lines as needed */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    max-height: 170px;
    max-width: 500px;
}

.story-image {
    flex: 0 0 30%;
    position: relative;
}

.story-image img {
    width: 100%;
    height: auto;
}

.buttons {
    flex: 0 0 20%;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons .ui.button {
    margin-bottom: 0.5rem;
}

.editButtons {
    display: none;
}

.message {
    display: none;
    font-size: large;
    font-weight: bolder;
    color: #fff;
    text-shadow: 0px 0px 4px #0d6efd;
}

@media (max-width: 768px) {
    .story {
        display: block;
    }
    .story-info {
        flex: 0 0 100%;
    }

    .story-image {
        flex: 0 0 100%;
    }

    .buttons {
        flex: 0 0 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .editButtons {
        flex-direction: row;
    }
}
