/* Form styling */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    resize: none;
}

form input[type="text"]:focus,
form textarea:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #0069d9;
}

h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
}

/* File */

.file-input {
    border: none;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.file-input:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.file-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
}

.error {
    color: red;
}

#inputfieldsrow {
    display: flex;
}

.fields {
    margin: 0px 5px;
}


#preview-image {
    max-width: 100%;
    margin-bottom: 50px;
}

/* Style the modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Style the modal content */
.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 12px solid black;
    width: 50%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Style the confirmation and close buttons */
.modal-buttons {
    margin-top: 20px;

}

.modal-buttons  {
    background-color: #0069d9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

.modal-buttons:hover {
    opacity: 0.8;
}

/*edit story only */
.hidden{
    display: none;
}
.edit_fields{
    margin: 0;
}






